.fpt {
    background-color: #0102B4;
    color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content {
    background-color:#F4F5FA;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    padding: 20px;

}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    
    
}
img.img {
    width: 440px;
    height: 300px;
    padding-right: 45px;

} 
.description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.6em; /* Adjust based on your line-height */
    line-height: 1.8em; /* Adjust based on your font size */
}
.context {
    padding: 8px;
    background: #ffffff;
    margin-left: 20px;
    width: 382px; /* Set a larger width */
    flex: 1;
    padding-right: 50px;
    text-align: center;
 
     
}
.check-button {
    background-color: #F98514;
    color: #ffffff;
    padding: -20px;
    width:90%;
    border: none;
    padding: 6px;
}
.blog {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 20px;
    position: relative;

}
button.check-button {
    margin-left: 27px;
    margin-top: -38px;
    border-radius: 7px;
}
.button-2 {
    margin-top: -30px;
    margin-left: 10px;
}
div.context {
   margin-left: 13px;
   margin-left: 13px;
}
.date-absolute {
    position:absolute;
    top: 280px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 9%;
    color: #C5C5C5;
    margin-left: 9px;
}
.context_hai {
    text-align: center;
}
.back {
    width: 50px;
}